.route-study {
  margin-top: 70px;
  margin-left: 100px;
  padding: 8px 44px;
  max-width: 924px;
  h1 {
    font-size: 1.8rem;
    font-weight: 900;
    margin: 19px 0;
  }
  div {
    p {
      margin: 15px 0;
      border: none;
      padding: 0;
    }
  }
  p {
    padding-left: 20px;
    border-left: 3px solid #f05123;
  }
}
