.home-page {
  margin-top: 70px;
  .page-slice {
    color: white;
    .slice-text {
      padding: 0 36px 36px 36px;
      h2 {
        margin: 20px 0 8px 0;
        font-size: 1.8rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
  .slice1 {
    --cta-hover-color: #7612ff;
    background: linear-gradient(to right, rgb(118, 18, 255), rgb(5, 178, 255));
  }
  .slice2 {
    --cta-hover-color: #6828fa;
    background: linear-gradient(
      to right,
      rgb(104, 40, 250),
      rgb(255, 186, 164)
    );
  }
  .barner {
    .swiper {
      margin-left: 100px;
      padding: 0 40px 0 20px;
    }
  }
}
